:root {
  --primary: #2B4D87;
  --secondary: #EB3A91;
  --accent-yellow: #FCE62F;
  --orange: #F08E33;
  --green: #31AD4D;
  --sky: #00B5E2;
  --text-main: #2E2E2E;
  --light: #FAFAFA;
  --white: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.hide-on-mobile {
  display: none;
}

h2 {
  color: var(--primary);
}

/* Header */
header {
  background-color: var(--white);
  padding: 1rem 0;
}

.header-top-bar {
  background-color: var(--accent-yellow);
  color: var(--primary);
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.header-top-bar span {
  margin: 0 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 80px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-main);
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Spotlight Section */
.spotlight {
  background: url('../img/spotlight-bg.jpeg') center/cover no-repeat;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotlight p {
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--text-main);
  font-size: 1.5rem;
  padding: .5rem;
  text-align: center;
}

/* About Section */
.about {
  background-color: var(--light);
  padding: 3rem 1rem;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--primary);
  color: white;
  padding: 2rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

footer h2 {
  display: none;
}

footer a {
  color: #FFD700;
  text-decoration: none;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 0.5rem 0;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
  .header-content {
    flex-direction: row;
  }

  .footer-content {
    flex-direction: row;
    text-align: left;
  }

  .hide-on-mobile {
    display: inline-block;
  }

  nav ul {
    flex-direction: row;
  }
}
